.App {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100%;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #211522;
  text-decoration: underline;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Header css */
.Header {
  margin: 0px auto;
  margin-top: 2em;
  background-color: white;
  text-align: center;
  padding: 30px;
  color: #3f0744;
}

.Header .title {
  font-size: 3em;

  font-weight: bold;
}

.Header .info {
  font-size: 30px;
}

/* Section css for Home Page */
.Section {
  padding: 4em;
  margin: 2em auto;
  width: 60%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  padding: 1em 0;
}

/*login area*/
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

.navbar>a {
  padding: 10px;
  color: #3f0744;
  text-decoration: none;
}

.navbar>a:hover {
  font-size: 1.2em;
}

.logo {
  margin: auto;
}

.login-box {
  margin: 1rem auto;
  padding: 2%;
  width: 70%;
  text-align: center;
}

.login-box input {
  display: block;
  padding: 10px;
  margin: 20px auto;
  width: 40%;
  min-width: 10em;
  border: 1px solid #3f0744;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn {
  background-color: #3f0744;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.btn:hover {
  background-color: white;
  color: #3f0744;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/*registration page*/
.regPage .Header {
  margin-top: 0px;
  padding: 4em 0;
  color: white;
  width: 100%;
  background-color: #3f0744;
}

.regPageForm .Header,
.sendform .Header,
.deliverform .Header {
  margin-top: 0px;
  padding: 4em 0;
  color: white;
  width: 100%;
  background-color: #3f0744;
}

/*role box*/
.reg-roll-box {
  border: 2px solid #3f0744;
  margin: 2em;
  display: flex;
  flex: 1 1 0px;
  text-align: center;
  flex-direction: column;
}

@media (max-width: 540px) {
  .regRole {
    flex-direction: column;
  }
}

.regRole {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  justify-content: space-evenly;
}

.reg-roll-box .role {
  font-size: 2em;
  padding: 10px 10px 2px 10px;
}

.reg-roll-box .role-info {
  padding: 10px;
}

.reg-roll-box .role-img {
  width: 25%;
  height: 25%;
  margin: 0 auto;
}

.btn.reg {
  border-radius: 0px;
}

.one {
  align-items: center;
}

/*registration forms*/
.form {
  margin: 5em;
  border: 2px solid black;
  padding: 5em;
}

.form .name,
.form .verification {
  margin: 1em 0 2em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: flex-start;
}

.form .contact,
.form .setpwd {
  margin: 1em 0 2em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.form .address {
  margin: 1em 0 2em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.subheading {
  color: #3f0744;
  font-size: 1.7em;
}

@media (max-width: 936px) {

  .form .address,
  .form .name,
  .form .contact {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .form {
    margin: 1em;
    border: 2px solid black;
    padding: 1em;
  }
}

@media (max-width: 800px) {

  .form .contact input,
  .form .name {
    width: 100%;
  }
}

/* regSuccessBox after successful registration page*/
.regSuccessBox {
  margin: 2em auto;
  width: 60%;
  padding: 4em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #3f0744;
  color: white;
  text-align: center;
}

.regSuccessBox>a {
  color: white;
  text-decoration: none;
}

#success {
  color: green;
  font-weight: bold;
}

#fail {
  color: red;
  font-weight: bold;
}

.btn.checkVeri {
  height: 20px;
  background-color: white;
  color: #3f0744;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn.checkVeri:hover {
  color: white;
  background-color: #3f0744;
}

.btn.checkVeri:clicked {
  color: white;
  background-color: #3f0744;
}

.validationForm {
  font-size: 12px;
  color: red;
}

.dashboardToolbar {
  background-color: #3f0744;
}

/* Send form */
.send-del-form {
  width: 65%;
  margin: 3em auto;
  padding: 2em;
  border: 2px solid #3f0744;
  border-radius: 10px;
}

.editprofile-icon {
  margin-left: 70%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

.dashboard-bar {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.routeinfo {
  margin: 0em 0 2em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: flex-start;
}

.matchRes {
  width: 80%;
  margin: 2em auto;
  border-top: 2px solid black;
}

.forgotPwdMailField {
  height: 25px;
  width: 50%;
  border: 2px solid white;
  border-radius: 7px;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-header>button {
  margin-right: 1em;
}

.notif>h4 {
  margin-top: 0.5em;
  margin-bottom: 0px;
}

.notif>a>p {
  margin-top: 0px;
  margin-bottom: 0.5em;
}

.feedback-issue-box {
  margin: 2em auto;
  width: 60%;
  padding: 4em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #3f0744;
  color: white;
  text-align: center;
}

.feedback-issue-box>a {
  color: white;
  text-decoration: none;
}

.stars {
  height: 40px;
}