.form-container {
  max-width: 80%;
  margin: 2rem auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(0, 0, 0, 0.08) 0px 2px 8px;
  padding: 1rem;
}

#courierForm {
  display: grid;
  grid-template-columns: minmax(220px, 350px) minmax(220px, 350px);
  grid-gap: 1.5rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.courier-form-input {
  flex-grow: 1;
  margin: auto;
  min-width: 200px !important;
  max-width: 300px;
  width: 100%;
}

.spacer {
  width: 1rem;
}

.listing-container {
  width: 80% !important;
  margin: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
